@page
@{
    ViewData["Title"] = "Bundling";
}

@section head {
    <link rel="stylesheet" href="~/css/bundle.css" />
}

<div>
    <p>This page references the bundled stylesheet <a href="~/css/bundle.css" type="text/css">/css/bundle.css</a> which result in:</p>

    <ul>
        <li><code>/css/a.css</code> and <code>/css/b.css</code> are bundled</li>
        <li>Response is minified</li>
        <li>Reference to bundle file is being fingerprinted</li>
        <li>Image urls inside the CSS are being fingerprinted</li>
        <li>Cached on both server- and client-side</li>
    </ul>
</div>

<p>
    The script bundle <a href="~/js/bundle.js">/js/bundle.js</a> is also referenced and minified.
</p>

<script src="~/js/bundle.js"></script>