image: Visual Studio 2019
version: 3.0.{build}

build_script:
  - dotnet restore -v quiet
  - ps: dotnet build /p:configuration=Release /p:Version=$($env:appveyor_build_version)

test_script:
  - dotnet test test/WebOptimizer.Core.Test/WebOptimizer.Core.Test.csproj

artifacts:
  - path: src\WebOptimizer.Core\bin\release\*.nupkg
    name: NuGet package

deploy:
  - provider: NuGet
    artifact: /NuGet/
    api_key:
      secure: 6xBu/05BWJDPa2PRkxEH3PHU/caLvy2lzf1eWdRBGXwSCTejHtI+6e0V4s2LaVri
    on:
      branch: master
      appveyor_repo_commit_message_extended: /\[release\]/