image: Visual Studio 2022
version: 3.0.{build}

build_script:
  - dotnet restore -v quiet
  - ps: dotnet build --configuration Release --no-restore /property:ContinuousIntegrationBuild=True /p:Version=$($env:appveyor_build_version)

test_script:
  - dotnet test --configuration Release --no-restore --no-build test/WebOptimizer.Core.Test/WebOptimizer.Core.Test.csproj

artifacts:
  - path: src\WebOptimizer.Core\bin\release\*.nupkg
    name: NuGet package

  - path: src\WebOptimizer.Core\bin\release\*.snupkg
    name: Symbol package
    
deploy:
  - provider: NuGet
    artifact: /package/
    api_key:
      secure: LUTMwDIxwJtVOAUZMlB87yHWf7ExvWyQbUsaLDAalzK1MIKEpT0AimfvE980xbRE
    on:
      branch: master
      appveyor_repo_commit_message_extended: /\[release\]/
